* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

.btn {
    padding: 10px;
    background-color: crimson;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:active {
    scale: 0.95;
    /* use to change height  */
}